#artist-search .artist {float: left; width: 200px; height: 200px; background-position:50% 50%; background-repeat:no-repeat; background-size: cover; position: relative; overflow: hidden; cursor: pointer;}
#artist-search .artist .info {background:rgba(255, 255, 255, 0.7); bottom:-65px; color:#333333; font-size:18px; font-weight:bold; padding:10px;    position:absolute; text-align:center; text-shadow:0 0 1px #bbb; width:180px;}

#artist-overview > div {-moz-box-sizing: border-box; box-sizing: border-box;}
.artist-similar {background-color: #333338; height: 400px; width: 300px;  overflow: auto;}

.artist-find input {
	font-size: 14px; padding: 6px; width: 290px; background-color: #222; border: 0px; color: #aaa;
    font-family: 'Roboto Condensed'; }
.artist-find input:focus {
	outline: none; }

.player {
	background: #0a0a0a; width: 300px;height: 160px;}
.cp-container {
	top: 10px; left: 66px;}

.col1 {
    width: 300px; float: left;}
.col2 {
    float: left; width: 250px;}
.col3 {
    float: left; width: 250px;}

.artist-info h3 {
    color: #FFD; text-shadow: 0 0 1px #333; font-size: 21px; border-bottom: 1px solid; margin-bottom: 4px; font-family: 'Roboto Condensed';}
.artist-info p {
    font-size: 12px; font-family: 'Roboto Condensed'; color: #bba; line-height: 16px;}
.artist-info .tags span {
    margin-right: 10px; color: #CC9; padding: 2px 0px; cursor: pointer; font-size: 13px; font-family: monospace;}
.artist-info .tags span:hover {
    border-bottom: 1px dashed;}
    
.artist-info .links {
    color: #ddd; margin: 10px 0 0; position: absolute; bottom: 6px; font-size: 14px; font-family: Arial;}
.artist-info .links a {
    margin-right: 10px; cursor: pointer;}
.artist-info .links a:hover {
	border-bottom: 1px dashed;}

.artist-similar .similar {
	background-repeat:no-repeat; background-size:cover; float:left; height:73px; width:73px; overflow: hidden; 
	cursor: pointer;}
.firefox .similar {
	width: 73px !important; height: 73px !important;}
.artist-similar .similar div {
	background: rgba(255, 255, 255, 0.7); text-align: center; font-size: 13px; position: relative; top: -55px;
	padding: 4px 2px;}
.head {
	background: #111; color: #EEE;padding: 7px; text-align:center; font-size: 12px; font-family: 'Roboto Condensed';
	font-weight: bold; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }


.artist-tracks, .tracks-sources, .dc-albums, .dc-tracks {
	background-color: #2A2A2A; height: 268px; width: 250px; overflow: auto; border-left: 1px solid #111;}
.dc-albums {
	background-color: #444;}
.playlist {
	background-color: #333338; border-left: 1px solid #000;}

.dc-albums .album, .dc-tracks .track, .tracks-sources .source, .playlist .track {
	padding: 6px 4px; background: #222;  color: #bbb; text-shadow: 0 0 1px #000; border-bottom: 1px solid black; 
	border-top: 1px solid #333333; cursor: pointer; font-family: 'Roboto Condensed'; font-size: 12px; height:15px;
	line-height: 15px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.dc-tracks .track:hover, .dc-albums .album:hover, .tracks-sources .source:hover, .playlist .list:hover {
    color: #ccc;}

.playlist .list.selected, .tracks-sources .source.selected, .dc-albums .album.selected, .dc-tracks .track.selected {
    background: #333; color: #FFF; text-shadow: 0 0 1px #000; border-bottom: 1px solid black; border-top: 1px solid #444;}

.dc-tracks .track i {
    float: right; font-size: 9px; padding-top: 2px;}

.track.missing {
    text-decoration: line-through !important; color: #555;}
.track.played {
    color: #888;}

.playlist, .tracks-sources {
    height: 268px; overflow-y: auto; overflow-x: hidden;}

/* track sources  */
.tracks-sources .source {
    overflow: hidden; padding: 0 5px; height: 27px;}
.tracks-sources .source .title {
    line-height: 28px; white-space: nowrap; float: left; width: 175px; overflow: hidden; text-overflow: ellipsis; font-size: 12px;}
.tracks-sources .source .time {
    line-height: 28px; width: 35px; font-size: 10px; float: right; text-align: right;}
.tracks-sources .source .dl {
    padding: 2px 0; opacity:0.6; display: none; line-height: 34px;}
.tracks-sources .source .dl img {
    width: 20px;}
.tracks-sources .source.selected .dl {}

.artist-player .player {
    background: #0a0a0a; width: 310px; height: 200px; float: left;}


