html {background: black;}
body {background: black; height: 600px; width: 800px;}
body > div.view {background: white; width: 800px; height: 600px; position: fixed; background: black; left: -800px;}
body > div#home {left: 0;}

.load4 {background: url(img/loader-444.gif) no-repeat center center;}
.load6 {background: url(img/loader-666.gif) no-repeat center center;}
.hide {display: none;}
.lt {float: left;}
.rt {float: right;}



#accordian h5 {
	font-variant: small-caps; text-transform: lowercase; text-align: center; padding: 6px;
	background: #222; font-family: 'Roboto Condensed'; font-size: 14px; }

#home input {border: 8px solid #1C303A; font-size:32px; left:210px; padding:8px 10px; position:absolute; top:240px; width:400px;}
#home div.button {background:url("img/magnifier.png") no-repeat; height:60px; width:60px; position: absolute; 
	top: 243px; left: 578px; cursor: pointer; background-position: 10px 12px; opacity: 0.4;}



/****
 * Scrollbars
 ***************/
::-webkit-scrollbar {width: 8px; height: 10px; background: none;}
::-webkit-scrollbar-track:vertical { background: #111;}
::-webkit-scrollbar-thumb {width: 8px; height: 20px;background: #666;}
::-webkit-scrollbar-button: {display: none;}  


/***
 * ACCORDION
 ************/
 #accordian {
	background: #004050; width: 250px; color: white; }
/*heading styles*/
#accordian h3 {
	font-family: 'Roboto Condensed'; font-size: 12px; line-height:28px; padding: 0 10px; cursor: pointer;
	background: #212427; border-bottom: 1px solid #111619;  text-transform: uppercase; }
#accordian h3.open {
	background: #35465A; color: white; text-shadow: 0 0 1px black;}
#accordian h3:hover {
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.7); }
/*iconfont styles*/
#accordian h3 span {
	font-size: 16px;
	margin-right: 10px;
}
/*list items*/
#accordian li {
	list-style-type: none;}
#accordian ul ul {
	display: none; }
#accordian li.active ul {
	display: block; }
